div.header-row {
    height: 100px;
}

div.nav-row {
    height: 50px;
}

img.phone-icon {
    width: 25px;
    height: 25px;
}

img.location-icon {
    width: 25px;
    height: 30px;
}

img.social-icon {
    width: 40px;
    height: 40px;
}

img.facebook-icon {
    width: 45px;
    height: 45px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

.card {
    background-color: #f0d189;
}

img.service {
    width: 350px;
    height: 300px;
}

img.doctor {
    width: 300px;
    height: 350px;
}

img.doctor-profile {
    width: 300px;
    height: 450px;
}

a {
    color: black;
}

a.btn {
    border-width:2px;
}

div.offcanvas {
    width: 50px;
}